@page "/movie/actor"

<PageTitle>Diễn viên</PageTitle>

@if (_isLoading)
{
    <LoadingElement />
}

<div class="d-flex justify-content-between">
    <div class="div">
        <ButtonAmam7078 Class="btn btn-sm btn-outline-secondary" Icon="bi bi-cloud-plus text-primary"
            IconPosition="CIconPositionType.Right" Text="Create" OnClick="CreateActorAsync" />
        <ButtonAmam7078 Class="btn btn-sm btn-outline-secondary" Icon="bi bi-pencil-square text-success"
            IconPosition="CIconPositionType.Right" Text="Update" OnClick="UpdateActorAsync" />
        <ButtonAmam7078 Class="btn btn-sm btn-outline-secondary" Icon="bi-toggle-off text-primary"
            IconPosition="CIconPositionType.Right" Text="Deactive" OnClick="DeactiveActorsAsync" />
        <ButtonAmam7078 Class="btn btn-sm btn-outline-secondary" Icon="bi bi-cloud-upload text-success"
            IconPosition="CIconPositionType.Right" Text="Import" OnClick="DeactiveActorsAsync" />
        <ButtonAmam7078 Class="btn btn-sm btn-outline-secondary" Icon="bi bi-file-earmark-excel text-success"
            IconPosition="CIconPositionType.Right" Text="Export" OnClick="DeactiveActorsAsync" />
    </div>
    
    <div class="d-flex flex-row-reverse">
        @* <ButtonAmam7078 Class="btn btn-sm btn-outline-secondary me-2" OnClick="ToggleFilterPanel"
            Icon="bi bi-funnel" IconPosition="CIconPositionType.Center" /> *@
        <DropdownCheckboxList Items="_displayColumns" OnApply="ApplyColumnSelection" OnCancel="CancelColumnSelection"
            Class="mx-2" />
        @* <input class="form-control w-auto" type="text" placeholder="Search..." @oninput="OnSearchInputChange"
            @onkeydown="Search" /> *@
    </div>
</div>
<ImageViewer ImageUrl="@currentImageUrl" IsOpen="@_isShowImage" IsOpenChanged="(open) => _isShowImage = open" />
<div class="table mt-2">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>#</th>
                @foreach(var col in _displayColumns.Where(c => c.IsSelected))
                {
                    <th>
                        <div class="d-flex">
                            @if (col.IsSort)
                            {
                                <span style="cursor: pointer;" @onclick="EventCallback.Factory.Create(this, () => SortAsync(propertyName: col.Value.ToString() ?? string.Empty))">@col.Name</span>
                                @if (_requestDto.Sorter != null && _requestDto.Sorter.KeyName == col.Value.ToString())
                                {
                                    if (_requestDto.Sorter.IsASC)
                                    {
                                        <i class="bi bi-sort-alpha-down"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-sort-alpha-up-alt"></i>
                                    }
                                }
                            }
                            else
                            {
                                <span>@col.Name</span>
                            }
                        </div>
                    </th>
                }
            </tr>
        </thead>
        <tbody id="sortableTable">
            @if (!_result.Items.IsNullOrEmpty())
            {
                foreach(var item in _result.Items)
                {
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@item.ActorId" id="flexCheckDefault">
                            </div>
                        </td>
                        @foreach (var col in _displayColumns.Where(c => c.IsSelected))
                        {
                            string styleName =  string.Empty;
                            string className = string.Empty;
                            @if (col.Value.ToString() == nameof(ActorDetailDto.Avatar))
                            {
                                styleName = "width: 100px; height: 100px; overflow: hidden;";
                                className = "rounded";
                            }
                            <td class="@($"{className} cell-limit align-middlere")" style="@($"{styleName}")">
                                @switch (col.Value)
                                {
                                    case nameof(ActorDetailDto.Name):
                                        @item.Name
                                        break;
                                    case nameof(ActorDetailDto.DateOfBirth):
                                        @item.DateOfBirth.ToString("yyyy-MM-dd")
                                        break;
                                    case nameof(ActorDetailDto.DebutDate):
                                        @item.DebutDate.ToString("yyyy-MM-dd")
                                        break;
                                    case nameof(ActorDetailDto.Avatar):
                                        <img src="@item.Avatar"
                                            alt="Avatar"
                                            class="img-fluid rounded"
                                            style="width: 100%; height: 100%; object-fit:cover; cursor: pointer;"
                                            @onclick="() => OpenImageViewer(item.Avatar)"
                                        />
                                        break;
                                    case nameof(ActorDetailDto.Height):
                                        @item.Height
                                        break;
                                    case nameof(ActorDetailDto.Waist):
                                        @item.Waist
                                        break;
                                    case nameof(ActorDetailDto.Bust):
                                        @item.Bust
                                        break;
                                    case nameof(ActorDetailDto.Hips):
                                        @item.Hips
                                        break;
                                    case nameof(ActorDetailDto.CupSizeType):
                                        @item.CupSizeType
                                        break;
                                    case nameof(ActorDetailDto.RegionType):
                                        @item.RegionType
                                        break;
                                    case nameof(ActorDetailDto.Status):
                                        @item.Status
                                        break;
                                    default:
                                        <span>--</span>
                                        break;
                                }
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr class="text-secondary">
                    <td colspan="@InitDisplayColumns().Count">No items available to show.</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code
{
    protected override async Task OnInitializedAsync()
    {
        _displayColumns = InitDisplayColumns();
        await FetchDataAsync();
    }

    private async Task FetchDataAsync()
    {
        try
        {
            _isLoading = true;
            var apiResponse = await _httpClientHelper.PostAsync<TableParam<ActorFilterProperty>, BasePagedResult<ActorDetailDto>>(
            endpoint: Path.Combine(EndpointConstant.Movie_Base_Url, EndpointConstant.Movie_Actor_Paging),
            data: _requestDto, requestType: CHttpClientType.Private, portalType: CPortalType.CET);
            if (apiResponse == null)
            {
                _toastService.ShowError($"An error occured while call to get actors.");
            }
            else if (!apiResponse.Errors.IsNullOrEmpty())
            {
                _errors = apiResponse.Errors;
            }
            else if (apiResponse.Data == null)
            {
                _toastService.ShowError(message: "không thể get data");
            }
            else
            {
                _result = apiResponse.Data;
            }

        }
        catch (Exception ex)
        {
            _toastService.ShowError(ex.Message);
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }


    #region variable
    private bool _isShowImage { get; set; } = false;
    private bool _isLoading { get; set; } = false;
    private bool _isShowColumns { get; set; } = false;
    private TableParam<ActorFilterProperty> _requestDto { get; set; } = new TableParam<ActorFilterProperty>();
    private List<ErrorDetailDto> _errors { get; set; } = new List<ErrorDetailDto>();
    private BasePagedResult<ActorDetailDto> _result = new BasePagedResult<ActorDetailDto>();
    private List<DropdownItemModel> _displayColumns { get; set; } = new List<DropdownItemModel>();
    #endregion variable


    #region event

    #region filter

    #endregion filter

    #region sorter
    private async Task SortAsync(string propertyName)
    {
        if (_requestDto.Sorter == null)
        {
            _requestDto.Sorter = new();
        }
        _requestDto.Sorter.KeyName = propertyName;
        _requestDto.Sorter.IsASC = !_requestDto.Sorter.IsASC;
        await FetchDataAsync();
    }
    #endregion sorter

    #region paging

    #endregion paging

    #region search

    #endregion search

    #region column selection
    private void ApplyColumnSelection(List<DropdownItemModel> selectedColumns)
    {
        foreach (var column in _displayColumns)
        {
            column.IsSelected = selectedColumns.Any(c => c.Name == column.Name && c.IsSelected);
        }

    }
    private void CancelColumnSelection()
    {
        _isShowColumns = false;
    }
    #endregion column selection

    #endregion event


    #region action

    #region view detail

    #endregion view detail

    #region view image
    private string currentImageUrl = "";

    private void OpenImageViewer(string imageUrl)
    {
        currentImageUrl = imageUrl;
        _isShowImage = true;
    }

    private void CloseImageViewer()
    {
        _isShowImage = false;
    }
    #endregion view image

    #region update
    private async Task UpdateActorAsync()
    {
        await Task.CompletedTask;
    }
    #endregion update

    #region delete

    #endregion delete

    #region deactive
    private async Task DeactiveActorsAsync()
    {
        await Task.CompletedTask;
    }
    #endregion deactive

    #region create
    private async Task CreateActorAsync()
    {
        await Task.CompletedTask;
        _navigationManager.NavigateTo(uri: "/movie/actor/create", forceLoad: true);
    }
    #endregion create

    #region import

    #endregion import

    #region export

    #endregion export

    #endregion action
    private List<DropdownItemModel> InitDisplayColumns()
    {
        return new List<DropdownItemModel>()
        {
            new DropdownItemModel()
            {
                Name = I18NHelper.GetString(key: $"Column_Title_Actor_{nameof(ActorDetailDto.Name)}_Entry"),
                Value = nameof(ActorDetailDto.Name),
                IsSelected = true,
                IsSort = true
            },
            new DropdownItemModel()
            {
                Name = I18NHelper.GetString(key: $"Column_Title_Actor_{nameof(ActorDetailDto.DateOfBirth)}_Entry"),
                Value = nameof(ActorDetailDto.DateOfBirth),
                IsSelected = true,
                IsSort = true
            },
            new DropdownItemModel()
            {
                Name = I18NHelper.GetString(key: $"Column_Title_Actor_{nameof(ActorDetailDto.DebutDate)}_Entry"),
                Value = nameof(ActorDetailDto.DebutDate),
                IsSelected = true,
                IsSort = true
            },
            new DropdownItemModel()
            {
                Name = I18NHelper.GetString(key: $"Column_Title_Actor_{nameof(ActorDetailDto.Avatar)}_Entry"),
                Value = nameof(ActorDetailDto.Avatar),
                IsSelected = true,
                IsSort = false
            },
            new DropdownItemModel()
            {
                Name = I18NHelper.GetString(key: $"Column_Title_Actor_{nameof(ActorDetailDto.Height)}_Entry"),
                Value = nameof(ActorDetailDto.Height),
                IsSelected = true,
                IsSort = true
            },
            new DropdownItemModel()
            {
                Name = I18NHelper.GetString(key: $"Column_Title_Actor_{nameof(ActorDetailDto.Waist)}_Entry"),
                Value = nameof(ActorDetailDto.Waist),
                IsSelected = true,
                IsSort = true
            },
            new DropdownItemModel()
            {
                Name = I18NHelper.GetString(key: $"Column_Title_Actor_{nameof(ActorDetailDto.Bust)}_Entry"),
                Value = nameof(ActorDetailDto.Bust),
                IsSelected = true,
                IsSort = true
            },
            new DropdownItemModel()
            {
                Name = I18NHelper.GetString(key: $"Column_Title_Actor_{nameof(ActorDetailDto.Hips)}_Entry"),
                Value = nameof(ActorDetailDto.Hips),
                IsSelected = true,
                IsSort = true
            },
            new DropdownItemModel()
            {
                Name = I18NHelper.GetString(key: $"Column_Title_Actor_{nameof(ActorDetailDto.CupSizeType)}_Entry"),
                Value = nameof(ActorDetailDto.CupSizeType),
                IsSelected = true,
                IsSort = true
            },
            new DropdownItemModel()
            {
                Name = I18NHelper.GetString(key: $"Column_Title_Actor_{nameof(ActorDetailDto.RegionType)}_Entry"),
                Value = nameof(ActorDetailDto.RegionType),
                IsSelected = true,
                IsSort = true
            },
            new DropdownItemModel()
            {
                Name = I18NHelper.GetString(key: $"Column_Title_Actor_{nameof(ActorDetailDto.Status)}_Entry"),
                Value = nameof(ActorDetailDto.Status),
                IsSelected = true,
                IsSort = true
            }
        };
    }
}
