@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json


@page "/"

<PageTitle>Trang chủ</PageTitle>

<h1>Welcome to User Sign In ASP.NET Core Blazor WebAssembly</h1>
<ButtonAmam7078 Class="btn btn-sm btn-outline-info"
  Icon="bi bi-person"
  Id="@Guid.NewGuid().ToString()"
  IconPosition="@CIconPositionType.Left" 
  Text="Button"
  OnClick="TestAuthAsync"/>


<Table TData="RoleDetailResponseDto" TFilter="RoleFilterProperty"
  ApiEndpoint="@Path.Combine(EndpointConstant.CET_Base_Url, EndpointConstant.CET_Role_Paging)"
  HttpClientType="CHttpClientType.Public"
  PortalType="CPortalType.CET" />

@foreach(var item in UploadedFiles)
{
  <p>@item.FileId</p>
  <p>@item.Name</p>
  <p>@item.Url</p>
}



<ImageUploader
  @bind-UploadedFiles="UploadedFiles"/>




  @code{

    private List<ImageKitIOFileResponseDto> UploadedFiles = new List<ImageKitIOFileResponseDto>()
    {
      new ImageKitIOFileResponseDto()
      {
        FileId = "67fb4379432c476416075ef5",
        Name = "marumo-rea-丸最レア-maruishi-rea-v0-ykflpaur8owd1_vJVeBcz6v.jpg",
        Url = "https://ik.imagekit.io/qlptzvw00/marumo-rea-%E4%B8%B8%E6%9C%80%E3%83%AC%E3%82%A2-maruishi-rea-v0-ykflpaur8owd1_vJVeBcz6v.jpg"
      }
    };

    private async Task TestAuthAsync()
    {
      _toastService.ShowError("OK");
      var response = await _httpClientHelper.GetAsync<string>(endpoint: "api/v1/cet/auth/protected",
        requestType: CHttpClientType.Private, portalType: CPortalType.CET);
      if (response != null && response.Success)
      {
        Console.WriteLine("");
      }
    }
  }
