@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json


@page "/"

<PageTitle>Trang chủ</PageTitle>

@if (Roles != null && Roles.Count > 0)
{
    <ul class="nav nav-tabs">
        @for (int i = 0; i < Roles.Count; i++)
        {
            var role = Roles[i];
            var currentIndex = i;
            <li class="nav-item">
                <a class="nav-link @(currentIndex == selectedTabIndex ? "active" : "")"
                   @onclick="() => SelectTab(currentIndex)">
                    <i class="bi bi-person-badge me-1"></i>
                    @role.RoleName
                </a>
            </li>
        }
    </ul>
}
<div class="row">
    <div class="col-6 border-end">
        @if (selectedRole != null)
        {
            <ul class="list-group">
                @foreach (var resource in selectedRole.Resources)
                {
                    var isExpanded = expandedResources.Contains(resource);
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-sm btn-link text-decoration-none"
                                    @onclick="@(() => ToggleExpandResource(resource))">
                                <i class="bi @(isExpanded ? "bi-chevron-down" : "bi-chevron-right") me-1"></i>
                                <i class="bi bi-folder2-open me-1 text-warning"></i>
                                @resource.ResourceName
                            </button>
                        </div>

                        @if (isExpanded)
                        {
                          <div class="ms-4 d-flex flex-wrap mt-2">
                            @foreach (var perm in resource.PermissionTypes)
                            {
                                <li class="d-flex align-items-center me-3">
                                  <input type="checkbox"
                                        class="form-check-input me-2"
                                        checked="@perm.HasPermission"
                                        @onchange="(e) => OnPermissionChange(selectedRole, resource, perm, e.Value)" />
                                  <i class="bi bi-shield-check text-primary me-2"></i>
                                  @perm.PermissionName
                                </li>
                            }
                          </div>
                        }
                    </li>
                }
            </ul>
        }
    </div>

    <div class="col">
        <h5 class="mt-2">Selected Role: @selectedRole?.RoleName</h5>
        <p class="text-muted">Pick a resource on the left to manage permissions.</p>
    </div>
</div>

<ButtonAmam7078
  Class="btn btn-sm btn-primary mt-3"
  Icon="bi bi-check"
  IconPosition="CIconPositionType.Right"
  Text="Xác nhận"
  Type="button"
  OnClick="UpdateUserRoleAsync"
  />

<div>
    <button class="btn btn-primary" @onclick="ShowModal">Import</button>
</div>

<FileUploader Title="Import Test"
    IsOpen="IsOpen"
    MaxFileSize="@(50*1024*1024)"
    FileTypes="FileTypes"
    OnFileUploaded="HandleUploadFromModal" />

@if (_notificationResponse != null)
{
  <NotificationElement  Notification="_notificationResponse" />
  _notificationResponse = null;
}

@if (_isLoading)
{
    <LoadingElement />
}

@code {
  
}
