<div class="mb-3">
    <label for="datalistInput" class="form-label">@Title</label>
    <input class="form-control" list="@_idDataList" id="datalistInput" 
        placeholder="" 
        @oninput="OnInputChanged">
    <datalist id="@_idDataList">
        @foreach (var item in FilteredItems)
        {
            <option data-value="@item.Value">@item.Name</option>
        }
    </datalist>
</div>

@code {
    
}
