@typeparam TData
@typeparam TFilter where TFilter : new()

<div class="container my-4">
    <div class="d-flex justify-content-between mb-3">
        <div class="d-flex justify-content-start">
            <ButtonAmam7078 Class="btn btn-sm btn-outline-primary me-2" Icon="bi bi-cloud-plus"
                IconPosition="@CIconPositionType.Left" IsDisabled="true" Text="Create" />
            <ButtonAmam7078 Class="btn btn-sm btn-outline-success" Icon="bi bi-pencil-square"
                IconPosition="@CIconPositionType.Left" Text="Edit" />
        </div>

        <div class="d-flex flex-row-reverse">
            <ButtonAmam7078 Class="btn btn-sm btn-outline-secondary me-2" OnClick="ToggleFilterPanel"
                Icon="bi bi-funnel" IconPosition="CIconPositionType.Center" />
            <DropdownCheckboxList Items="_columns" OnApply="ApplyColumnSelection" OnCancel="CancelColumnSelection"
                Class="mx-2" />
            <input class="form-control w-auto" type="text" placeholder="Search..." @oninput="OnSearchInputChange"
                @onkeydown="Search" />
        </div>
    </div>

    @if (_showFilterPanel)
    {
        <Filter FilterLabelName="Test" FilterProperty="FilterProperty" ShowPanelFilterChanged="OnShowPanelFilterChanged"
            ApplyFilterChanged="EventCallback.Factory.Create<TFilter>(this, OnApplyFilterChanged)" />
    }

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                @foreach (var column in _columns.Where(c => c.IsSelected))
                {
                    <th @onclick="() => SortByColumn(column.Name)">
                        @column.Name
                        @if (_sortColumn == column.Name)
                        {
                            <i class="bi" style="font-size: 12px;">
                                @if (_sortAscending)
                                {
                                    <text>▲</text>
                                }
                                else
                                {
                                    <text>▼</text>
                                }
                            </i>
                        }
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (TData row in _filteredData ?? new List<TData>())
            {
                <tr>
                    @foreach (var column in _columns.Where(c => c.IsSelected))
                    {
                        <td>@row?.GetType().GetProperty(column.Name)?.GetValue(row, null)</td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex justify-content-end mt-3">
        <ButtonAmam7078 Class="btn btn-sm btn-outline-secondary me-1" OnClick="FirstPage"
            IsDisabled="@(!CanNavigateFirst)" Icon="bi bi-chevron-double-left"
            IconPosition="CIconPositionType.Center" />
        <ButtonAmam7078 Class="btn btn-sm btn-outline-secondary me-1" OnClick="PreviousPage"
            IsDisabled="@(!CanNavigatePrevious)" Icon="bi bi-chevron-left" IconPosition="CIconPositionType.Center" />

        <div class="d-flex align-items-center">
            @foreach (var page in GetPagingNumbers())
            {
                string className = "btn btn-sm btn" + (_currentPage == page ? string.Empty : "-outline") + "-primary me-1";
                <ButtonAmam7078 Class="@className" Text="@(page.ToString())"
                    OnClick="EventCallback.Factory.Create(this, () => GoToPage(page))"
                    IsDisabled="@(_currentPage == page)" />
            }
        </div>
        <ButtonAmam7078 Class="btn btn-sm btn-outline-secondary me-1" OnClick="NextPage"
            IsDisabled="@(!CanNavigateNext)" Icon="bi bi-chevron-right" IconPosition="CIconPositionType.Center" />
        <ButtonAmam7078 Class="btn btn-sm btn-outline-secondary me-1" OnClick="LastPage"
            IsDisabled="@(!CanNavigateLast)" Icon="bi bi-chevron-double-right"
            IconPosition="CIconPositionType.Center" />
    </div>
</div>

@if (_isLoading)
{
    <LoadingElement />
}

@code {
    private bool _isLoading { get; set; } = false;
    private List<TData> _filteredData { get; set; } = new();
    private int _currentPage = 1;
    private int _itemsPerPage = 1;
    private List<DropdownItemModel> _columns { get; set; } = new();

    private int _totalPages { get; set; } = 0;
    private int _totalItems { get; set; } = 0;

    private DateTimePickerModelData NgayTaoData { get; set; } = new();

    [Parameter]
    public string ApiEndpoint { get; set; } = string.Empty;

    [Parameter]
    public CHttpClientType HttpClientType { get; set; }

    [Parameter]
    public CPortalType PortalType { get; set; }
    private TFilter FilterProperty = new TFilter();

    private TableParam<TFilter> _requestData { get; set; } = new TableParam<TFilter>();

    private bool _showFilterPanel { get; set; } = false;

    private string _sortColumn = string.Empty;
    private bool _sortAscending = true;

    protected override async Task OnInitializedAsync()
    {
        await FetchDataAsync();
    }

    private async Task FetchDataAsync()
    {
        try
        {
            _isLoading = true;

            _requestData.PageNumber = _currentPage;
            _requestData.PageSize = _itemsPerPage;
            _requestData.Sorter = new SorterParam
            {
                KeyName = _sortColumn,
                IsASC = _sortAscending
            };

            var result = await _httpClientHelper.PostAsync<TableParam<TFilter>, BasePagedResult<TData>>(
            ApiEndpoint, _requestData, HttpClientType, PortalType);

            if (result?.Data != null)
            {
                _filteredData.Clear();
                _filteredData = new List<TData>(result.Data.Items);
                _columns = GetColumnsFromData(_filteredData);

                _totalItems = result.Data.TotalItems;
                _totalPages = result.Data.TotalPages;
            }
            else
            {
                _toastService.ShowError("Error fetching data.");
            }
        }
        catch (Exception ex)
        {
            _toastService.ShowError(ex.Message);
        }
        finally
        {
            _isLoading = false;
        }
    }

    private List<DropdownItemModel> GetColumnsFromData(List<TData> data)
    {
        if (!data.IsNullOrEmpty())
        {
            TData firstItem = data.First();
            return firstItem!.GetType().GetProperties().Select(p => new DropdownItemModel
            {
                Name = p.Name,
                Value = p.Name,
                IsSelected = true
            }).ToList();
        }
        return new();
    }

    private async Task Search(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await FetchDataAsync();
            StateHasChanged();
        }
    }

    private void OnSearchInputChange(ChangeEventArgs e)
    {
        _requestData.SearchQuery = e.Value?.ToString() ?? string.Empty;
        StateHasChanged();
    }

    private void ApplyPaging()
    {
        _filteredData = _filteredData.Skip((_currentPage - 1) * _itemsPerPage).Take(_itemsPerPage).ToList();
    }

    private async Task NextPage()
    {
        if (CanNavigateNext)
        {
            _currentPage++;
            _requestData.PageNumber = _currentPage;
            await FetchDataAsync();
        }
    }

    private async Task PreviousPage()
    {
        if (CanNavigatePrevious)
        {
            _currentPage--;
            _requestData.PageNumber = _currentPage;
            await FetchDataAsync();
        }
    }

    private async Task FirstPage()
    {
        if (CanNavigateFirst)
        {
            _currentPage = 1;
            _requestData.PageNumber = _currentPage;
            await FetchDataAsync();
        }
    }

    private async Task LastPage()
    {
        if (CanNavigateLast)
        {
            _currentPage = _totalPages;
            _requestData.PageNumber = _currentPage;
            await FetchDataAsync();
        }
    }

    private async Task GoToPage(int page)
    {
        if (page > 0 && page <= _totalPages)
        {
            _currentPage = page;
            _requestData.PageNumber = _currentPage;
            await FetchDataAsync();
        }
    }

    private bool CanNavigatePrevious => _currentPage > 1;

    private bool CanNavigateNext => _currentPage < _totalPages;

    private bool CanNavigateFirst => _currentPage > 1;

    private bool CanNavigateLast => _currentPage < _totalPages;

    private List<int> GetPagingNumbers()
    {
        var start = Math.Max(1, _currentPage - 2);
        var end = Math.Min(_totalPages, _currentPage + 2);
        var pages = new List<int>();

        for (int i = start; i <= end; i++)
        {
            pages.Add(i);
        }

        return pages;
    }

    private async Task OnApplyFilterChanged(TFilter newFilter)
    {
        FilterProperty = newFilter;
        _requestData.Filter = FilterProperty;

        await FetchDataAsync();
    }

    private void ToggleFilterPanel()
    {
        _showFilterPanel = !_showFilterPanel;
    }

    private void OnShowPanelFilterChanged(bool isVisible)
    {
        _showFilterPanel = isVisible;
        StateHasChanged();
    }

    private void ApplyColumnSelection(List<DropdownItemModel> selectedColumns)
    {
        foreach (var column in _columns)
        {
            column.IsSelected = selectedColumns.Any(c => c.Name == column.Name && c.IsSelected);
        }
    }

    private void CancelColumnSelection()
    {
        _showFilterPanel = false;
    }

    private async Task SortByColumn(string columnName)
    {
        if (_sortColumn == columnName)
        {
            _sortAscending = !_sortAscending;
        }
        else
        {
            _sortColumn = columnName;
            _sortAscending = true;
        }

        _requestData.Sorter = new SorterParam
        {
            KeyName = _sortColumn,
            IsASC = _sortAscending
        };

        await FetchDataAsync();
    }
}
