@using System.Globalization
@switch (Type)
{
    case CDateTimePickerType.DateTime:
        {
            <div class="form-group date-time-range col-@((int)Width)">
                <label class="form-label">@LabelName</label>
                <div class="input-group position-relative">
                    <span class="input-group-text"><i class="bi bi-calendar2-range text-primary"></i></span>
                    <input type="text" class="form-control pe-5" id="@_inputId" autocomplete="off" placeholder="dd/MM/yyyy HH:mm - dd/MM/yyyy HH:mm"
                        style="font-size: @((0.85 / (int)CWidthType.Col12) * (int)Width)rem;">
                    <i class="bi bi-x-circle text-danger position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer"
                        style="z-index: 10;" @onclick="ClearDateTime"></i>
                </div>
            </div>
            break;
        }

    case CDateTimePickerType.DateOnly:
        {
            <div class="form-group date-time-range col-@((int)Width)">
                <label class="form-label">@LabelName</label>
                <div class="input-group position-relative">
                    <span class="input-group-text"><i class="bi bi-calendar-date text-danger"></i></span>
                    <input type="text" class="form-control pe-5" id="@_inputId" autocomplete="off" placeholder="dd/MM/yyyy - dd/MM/yyyy"
                        style="font-size: @((0.85 / (int)CWidthType.Col12) * (int)Width)rem;">
                    <i class="bi bi-x-circle text-danger position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer"
                        style="z-index: 10;" @onclick="ClearDate"></i>
                </div>
            </div>
            break;
        }

    case CDateTimePickerType.TimeOnly:
        {
            <div class="form-group date-time-range col-@((int)Width)">
                <label class="form-label">@LabelName</label>
                <div class="input-group position-relative">
                    <span class="input-group-text"><i class="bi bi-stopwatch text-warning"></i></span>
                    <input type="text" class="form-control pe-5" id="@_inputId" autocomplete="off" placeholder="HH:mm:ss - HH:mm:ss"
                        style="font-size: @((0.85 / (int)CWidthType.Col12) * (int)Width)rem;">
                    <i class="bi bi-x-circle text-danger position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer"
                        style="z-index: 10;" @onclick="ClearTime"></i>
                </div>
            </div>
            break;
        }

    default: break;
}

@code
{

}
